<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>ng-repeat and filters</title>
		<script src="../Lib/angular.min.js"></script>
		<link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="AvengersCtrl">
		<input type="text" ng-model="search.$">
			<table>
				<tr ng-repeat="actors in avengers.cast | filter:search">
					<td>{{actors.name}}</td>
					<td>{{actors.character}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>