<!DOCTYPE html>
<html ng-app>
<head>
<script src="../../Learning/Lib/angular.min.js"></script>
<link href="../../Learning/Lib/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <meta charset="utf-8">
  <title>Egghead Tutorials</title>

  <style type="text/css">
  	body {
	  padding: 10px;
	}
  </style>
  
</head>
<body>
  <input type="text" ng-model="first.greeting">
  <div ng-class="first.greeting">
    {{first.greeting}} {{"World"}}
  </div>
</body>
</html>