<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Egghead Videos</title>
    <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body ng-app="app" ng-controller="AppCtrl">
    <div class="container">
        <h4>
			A brief introduction to <strong class="text-danger">ui-router</strong>
			<span class="text-muted">(vO.2.O)</span>
		</h4>
        <div class="row">
            <ul class="nav nav-pills">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/list">Shopping List</a></li>
            </ul>
        </div>
        <div ui-view></div>
    </div>
    <script type="text/ng-template" id="templates/list.item.html">
        <h3>{{item}}</h3>
        <img ng-src="/home/user/Pictures/{{item}}.jpg" />
    </script>
    <script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="../Lib/angular-ui-router.js"></script>
    <script src="../Lib/TwinMax.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
