<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Controllers</title>
		<script src="../Lib/angular.min.js"></script>
		<link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="app.js"></script>
		<style type="text/css">
			body{
				padding: 10px;
			}
		</style>
	</head>
	<body ng-controller="firstCtrl as first">
		<input type="text" ng-model="first.greeting" />
		<div ng-class="first.greeting">
			{{first.greeting}} {{"World!!!"}}
		</div>
	</body>
</html>