<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Egghead Videos</title>
    <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
      {{random}}
    </div>

    <script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="../Lib/angular-ui-router.js"></script>
    <script src="../Lib/TwinMax.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
