<!DOCTYPE html>
<html ng-app="drinkApp">
	<head>
		<title>filters</title>
		<script src="../Lib/angular.min.js"></script>
		<link rel="stylesheet" href="../Lib/foundation.min.css" />
		<script src="app.js"></script>
		<style type="text/css">
			body{
				padding: 20px
			}
		</style>
	</head>
	<body>
		<div ng-controller="AppCtrl">
			ctrl
			<input type="text" ng-model="ctrlFlavor">
			dir
			<div drink flavor="ctrlFlavor"></div>
		</div>
	</body>
</html>