<!DOCTYPE html>
<html>

<head>
    <title>Angular lessons</title>
    <link rel="stylesheet" href="../Lib/foundation.min.css" />
    <style type="text/css">
    body {
        padding: 20px
    }
    </style>
</head>

<body>
    <div ng-app="app" ng-controller="RoomCtrl as room">
        <div class = "button" ng-click= "room.openDoor()">{{room.buttonTitle}}</div>
    </div>
    <script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
