<!DOCTYPE html>
<html>

<head>
    <title>Angular lessons</title>
    <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="styles.css" />
    <style type="text/css">
    body {
        padding: 20px
    }
    </style>
</head>
<body>
    <div ng-app="app" ng-controller="AppCtrl as app">
       <button class = "btn" ng-click="app.toggle = !app.toggle">Toggle Animation</button>
       <div class = "toggle" ng-if="app.toggle">Some content here</div>
    </div>
    <script src="../Lib/angular.min.js"></script>
     <script src="../Lib/TweenMax.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
