<!DOCTYPE html>
<html>

<head>
    <title>Angular lessons</title>
    <link rel="stylesheet" href="../Lib/foundation.min.css" />
    <style type="text/css">
    body {
        padding: 20px
    }
    </style>
</head>
<body>
    <div ng-app="app" ng-controller="AppCtrl as app">
        <div ng-repeat-start="thing in app.things">{{thing}}</div>
        Anything in here.
        <div ng-repeat-end="">Also in here with binding {{things}} </div>
    </div>
    <script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
