<!DOCTYPE html>
<html>

<head>
    <title>Angular lessons</title>
    <link rel="stylesheet" href="../Lib/foundation.min.css" />
</head>

<body style="padding: 50px 100px;">
    <div ng-app="app">
        <div class="button" ng-repeat="item in 'ILoveGamingAndCoading'.split('') track by $index" ng-click="$log.info($event)" >
            {{$index + 1}}.{{item}} {{ev.pageX}}
        </div>
    </div>
    <script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
