<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Controllers</title>
		<script src="../Lib/angular.min.js"></script>
		<link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="app.js"></script>
	</head>
	<body >
		<input type="text" ng-model="name" />
		<h1>{{name}}</h1>
		<div ng-controller="firstCtrl">
		<input type="text" ng-model="name" />
			<h1>{{name}}</h1>
		</div>
		<div ng-controller="secondCtrl">
		<input type="text" ng-model="name" />
			<h1>{{name}}</h1>
		</div>
	</body>
</html>