<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
  <input type="text" ng-model="app.person.firstName">
  <input type="text" ng-model="app.person.lastName">
  <input type="button" ng-click="app.addPerson(app.person)">add person</input>

    <ul>
      <li ng-repeat="person in app.people">
        {{person.firstName}} {{person.lastName}}
      </li>
    </ul>
  	<script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="../Lib/TwinMax.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
