<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ORDERBOX</a>
      </div>
      <div id="navbar" class="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Quick Start</a></li>
          <li><a href="#about">Present Orders!</a></li>
          <li><a href="#contact">Past Orders</a></li>
          <li><a href="#contact">My Account</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1>Placing Orders, Taking Names</h1>
      <p>
        <a class="btn btn-lg btn-primary" role="button" ng-click="newOrder()">Place new order</a>
      </p>
    </div>
  </div>
  	<script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="../Lib/TwinMax.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
