<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Basic Binding</title>
		<script src="../Lib/angular.min.js"></script>
		<link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<style type="text/css">
			body{
				padding: 10px;
			}
		</style>
	</head>
	<body>
	<input type="text" ng-model="first.greeting">
  <div ng-class="first.greeting">
    {{first.greeting}} {{"World"}}
  </div>
	</body>
</html>