<!DOCTYPE html>
<html>

<head>
    <title>building zeppy</title>
    <link rel="stylesheet" href="../Lib/foundation.min.css" />
    <style type="text/css">
    body {
        padding: 20px
    }
    </style>
</head>

<body>
    <div ng-app="app">
        <input type='text' ng-model="model.title">
        <input type='text' ng-model="model.content">
        <zippy title="{{model.title}}">
            This is the {{model.content}}.
        </zippy>
    </div>
    <script src="../Lib/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
