<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

  <button class="btn-primary" ng-click="app.fadeIt()">Click to fade</button>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>

  <script src="../Lib/angular.min.js"></script>
     <script src="../Lib/TweenMax.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="app.js"></script>
</body>
</html>