<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>controller alternative approach</title>
		<script src="../Lib/angular.min.js"></script>
		<link rel="stylesheet" href="../Lib/foundation.min.css" />
		<script src="app.js"></script>
		<style type="text/css">
			body{
				padding: 20px
			}
		</style>
	</head>
	<body>
		<div ng-controller="AppCtrl">
			<div class="button" ng-click="AppCtrl.sayHi()">Click me!</div>
		</div>
	</body>
</html>