<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>filters</title>
		<script src="../Lib/angular.min.js"></script>
		<script src= "../Lib/angular-ui-router.js"></script>
		<link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="app.js"></script>
		<style type="text/css">
			body{
				padding: 20px
			}
		</style>
	</head>
	<body>
		<div ng-controller="FirstCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message}}</h1>
		</div>

		<div ng-controller="SecondCtrl">
		<input type="text" ng-model="data.message">
		<h1>{{data.message | reverse}}</h1>
		</div>
	</body>
</html>