<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link href="../Lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
	<form>
		<input type="text" ng-model="app.contactCopy.firstName"/>
		<button ng-click="app.saveContact()">Save</button>
	</form>
	<div class="div" style="margin-top : 40px;"></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>First</td>
				<td>Last</td>
				<td>Phone</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in app.contacts" ng-click="app.selectContact(contact)">
				<td>{{contact.firstName}}</td>
				<td>{{contact.lastName}}</td>
				<td>{{contact.phone}}</td>
			</tr>
		</tbody>
	</table>
  	<script src="../Lib/angular.min.js"></script>
    <script src="../Lib/angular-route.min.js"></script>
    <script src="../Lib/angular-animate.min.js"></script>
    <script src="../Lib/TwinMax.min.js"></script>
    <script src="app.js"></script>
</body>
</html>